*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, gray, aliceblue);
    color: #fff;
    padding: 10px;
}
/* Centered vertically and horizontally and center text */
.calculator{
    width: 90%;
    max-width: 600px;
    margin: 10% auto; 
    text-align: center;
} 
.calculator h1{
    font-size: 4rem;
}
.calculator h1 span{
    color: gold;
}
/* flex-wrap feature wraps elements on small screens */
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: skyblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.input-box input{
    flex: 1;
    margin-right: 10px;
    padding: 15px;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background: lightslategray;
    margin-top: 10px;
    margin-left: 10px;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
.input-box button:hover{
    background: black;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 2rem;
}
#result span{
    color: gold;
}
/* Media Query for smaller screens */
@media (max-width: 768px){
    .calculator{
        margin: 20% auto;
    }

    .calculator h1{
        font-size: 3rem;
    }
}